  <div class="panel panel-default">
	  	<div class="panel-body">
		  <div class="panel-row">
			<span class="panel-menu">
				<div class="btn-group">
				  <button type="button" class="btn btn-default">#pinkalicious</a></button>
				  <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-comment menu-item-lg"></span></button>
				  <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok menu-item-lg"></span></button>
				</div>
			</span>
			<span class="panel-menu pull-right">
				<div class="btn-group">
				  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-exclamation-sign menu-item-lg"></span></button>
				</div>
			</span>
		  </div>
		  <span>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</span>
		</div>
	</div>
  <div class="panel panel-default">
	  <div class="panel-body">
		<div class="panel-row">
			<span class="panel-menu">
				<div class="btn-group">
				  <button type="button" class="btn btn-default">#magic_schoolbus</a></button>
				  <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-comment menu-item-lg"></span></button>
				  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-ok menu-item-lg"></span></button>
				</div>
			</span>
			<span class="panel-menu pull-right">
				<div class="btn-group">
				  <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-exclamation-sign menu-item-lg"></span></button>
				</div>
			</span>
		  </div>
		<span>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</span>
	  </div>
	</div>
	<div class="panel panel-default">
	  	<div class="panel-body">
			<div class="panel-row">
				<span class="panel-menu">
					<div class="btn-group">
					  <button type="button" class="btn btn-default">#the_lorax</a></button>
					  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-comment menu-item-lg"></span></button>
					  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-ok menu-item-lg"></span></button>
					</div>
				</span>
				<span class="panel-menu pull-right">
					<div class="btn-group">
					  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-exclamation-sign menu-item-lg"></span></button>
					</div>
				</span>
			  </div>
			<span>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</span>
		  </div>
	</div>
	<div class="add-panel panel-default">
        <div class="btn-group pull-right">
		  <button type="button" class="btn btn-disabled"><span class="glyphicon glyphicon-plus"></span></a></button>
		</div>
	</div>